# variables storing deployment information
## Production/Deployed environment
PROJECT_ENDPOINT=https://rinkeby.infura.io/v3/yourapikey
MNEMONIC=PUT YOUR MNEMONIC GENERATED AS TOLD IN README
## Development environment
LOCAL_ENDPOINT=http://127.0.0.1:7545
NETWORK_ID=5777